<br>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Account Detail</h5>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th scope="row">Emp ID:</th>
              <td>{{employee.empId}}</td>
            </tr>
            <tr>
              <th scope="row">Capgemini Id:</th>
              <td>{{employee.capgeminiId}}</td>
            </tr>
            <tr>
              <th scope="row">Name:</th>
              <td>{{employee.name}}</td>
            </tr>
            <tr>
              <th scope="row">Email:</th>
              <td>{{employee.email}}</td>
            </tr>
            <tr>
              <th scope="row">Wallet:</th>
              <td>Rs. {{employee.wallet}}</td>
            </tr>
            <tr>
              <th scope="row">Gender:</th>
              <td>{{employee.gender}}</td>
            </tr>
            <tr>
              <th scope="row">Subscription Date:</th>
              <td>{{employee.subscriptionDate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  
  </div>
  <div class="col-md-4"></div>
</div>
