/* 

.table
{
   
    text-align: center;
    border: 1px solid black;
}

.back
{
    margin-left: 1040px;
    
    font-size: 20px;
}
th{
    color: white;
}

.btn
{
    background-color: rgb(10, 128, 238);
    color: white;
} */