<body style="background-image: url(../../assets/images/login.jpg);background-repeat: no-repeat;background-size: cover; height: 605px;">
<div class="container-fluid" >
	<br>
<br>
<br>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="card" style="width: 30%; background-color:rgba(192,192,192,0.7);">
			<div class="card-body">
				<div class="col-md-12 col-md-offset-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title" style="text-align: center;">Login</h3>
						</div>
						<div class="panel-body">
							<form accept-charset="UTF-8" role="form" (ngSubmit)="onSubmit()" #f=ngForm ngNativeValidate>
								<fieldset>
									<div class="form-group">
										<input required class="form-control" [(ngModel)]=login.capgeminiId #cid=ngModel
											name="capgeminiId" placeholder="Capgemini ID" type="number" required>
									</div>


									<div class="form-group">
										<input required class="form-control" [(ngModel)]=login.password
											#capssword=ngModel name="password" placeholder="Password" type="password"
											value="" required>
									</div>

									<button class="btn btn-lg btn-primary btn-block" [disabled]="f.invalid">LOG
										IN</button>
								</fieldset>
								<div>
									<br>
									<br>
								</div>
								<p style="text-align: center;">New User? <a [routerLink]="['/signup']">Register Here</a>
								</p>
							</form>
							<hr />

						</div>
					</div>
				</div>
			</div>
			
		</div>

	</div>
</div>
</body>