<br>
<div class="row">
    <div class="col-md-12">
      
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" >
          <form (ngSubmit)="searchCafe()" #searchForm=ngForm>
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="searchText" #text=ngModel name="search_text" required>
              <div class="input-group-append">
                <button class="btn btn-success" type="submit" [disabled]="!searchForm.valid">Search</button>
              </div>
            </div>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="searchradio" value="cafeId" [(ngModel)]="searchBy" #cafeId=ngModel required>Cafe Id
              </label>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="searchradio" value="name" [(ngModel)]="searchBy" #name=ngModel>Name
              </label>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-check-inline disabled">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="searchradio" value="location" [(ngModel)]="searchBy" #location=ngModel>location
              </label>
            </div>
            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
  <hr>

  <br>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Cafe Id</th>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Owner</th>
        <th scope="col">Avg. Price</th>
        <th scope="col">Avg. Rating</th>
        <th scope="col">Menu</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody *ngFor="let cafe of cafeList">
      <tr>
        <th scope="row">{{cafe.cafeId}}</th>
        <td>{{cafe.name}}</td>
        <td>{{cafe.location}}</td>
        <td>{{cafe.owner}}</td>
        <td>{{cafe.avgPrice}}</td>
        <td>{{cafe.avgRating}}</td>
        <td><button type="button" class="btn btn-link" (click)="showMenu(cafe.cafeId)">Menu</button></td>
        <td><button type="button" class="btn btn-primary" (click)="updateCafe(cafe)">Update</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-danger" (click)="deleteCafe(cafe.cafeId)">remove</button></td>
    </tr>
    <tr *ngIf="!hideMenu && cafe.cafeId === currentId">
      <th colspan="8">
        <table class="table table-hover table-sm table-dark" >
          <thead>
            <tr>
                <th scope="col">Sl No.</th>
                <th scope="col">Dish</th>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dish of cafe.menu; let idx = index">
                <th scope="row">{{idx+1}}</th>
                <td>{{dish.name}}</td>
                <td [ngStyle]="{'color':dish.itemType === 'VEG' ? 'green' : 'red' }">{{dish.itemType}}
                </td>
                <td>Rs. {{dish.price}}</td>
            </tr>
        </tbody>
      </table>
      </th>
    </tr>
    </tbody>
  </table>
  